<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Elearning"
        tools:targetApi="31">
        <activity
            android:name=".studentviewteacher"
            android:exported="false" />
        <activity
            android:name=".profile_information"
            android:exported="false" />
        <activity
            android:name=".videoviewactivity"
            android:exported="false" />
        <activity
            android:name=".videouploadactivity"
            android:exported="false" />
        <activity
            android:name=".firebasedemo"
            android:exported="false" />
        <!--
        intent filters applied on MainActivity are specifiying that MainActivity should be used as
          launching activity means when app first launches(just like index.html that act as home page)
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Elearning"
            android:theme="@style/Theme.Elearning">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
add your activity below which you are creating using intent and you dont need to add intent filters
         here like mMinActivity
        -->
        <activity
            android:name=".register"
            android:exported="true"
            android:label="Elearning"
            android:theme="@style/Theme.Elearning" />
        <activity
            android:name=".login"
            android:exported="true"
            android:label="Elearning"
            android:theme="@style/Theme.Elearning" />
        <activity
            android:name=".Admin"
            android:exported="true"
            android:label="Elearning"
            android:theme="@style/Theme.Elearning" />
        <activity
            android:name=".Teacher"
            android:exported="true"
            android:label="Elearning"
            android:theme="@style/Theme.Elearning" />
        <activity
            android:name=".Student"
            android:exported="true"
            android:label="Elearning"
            android:theme="@style/Theme.Elearning" />
        <activity
            android:name=".vercode"
            android:exported="true"
            android:label="Elearning"
            android:theme="@style/Theme.Elearning" />
        <activity
            android:name=".teacherrequest"
            android:exported="true"
            android:label="Elearning"
            android:theme="@style/Theme.Elearning" />
        <activity
            android:name=".studentrequest"
            android:exported="true"
            android:label="Elearning"
            android:theme="@style/Theme.Elearning" />
    </application>

</manifest>